.screenings-header {
  margin-left: 25px;
  margin-top: 80px;
  width: 75vw;
  @media only screen and (max-width: 767px) {
    width: 100%;
  }
  h2 {
    font-weight: 900;
    padding-right: 25px;
  }
  p {
    margin-left: 10px;
    font-weight: 600;
  }

  .view-types-filter {
    margin-left: -12px;
    margin-right: 12px;
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    @media only screen and (max-width: 767px) {
      display: block;
    }
    .view-types {
      display: flex;
    }
    .selected-view-type {
      color: var(--primary-color);
    }
  }
}