.date-container {
  display: flex;
  margin-bottom: -15px;
  p {
    font-weight: 600;
    padding-right: 20px;
  }
  .time-auditorium-container {
    .auditorium {
      font-weight: 600;
      font-size: 14px;
    }
    .time {
      @media only screen and (max-width: 1123px) {
        padding-right: 85px;
      }
      margin-top: 5px;
      margin-bottom: 5px;
      font-weight: 800;
    }
  }
}