.movie-screening-information {
  margin-left: 15px;
  margin-right: 15px;
  img {
    height: 135px;
    width: 90px;
    margin-right: 20px;
  }
  
  .movie-screening-meta {
    h4 {
      font-weight: 700;
    }
    p {
      font-weight: 600;
    }
    .screening-time {
      margin-top: 35px;
    }
  }
}