.select-screening {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: var(--font-family-sans-serif);
  margin-left: 10px;
  margin-right: 10px;

  .header {
    margin-top: 50px;
    display: flex;
    text-align: left;
    h2 {
      font-weight: 800;
      margin-left: 30px;
    }
    img {
      height: 288px;
      width: 192px;
      border-radius: 5px;

      @media only screen and (max-width: 1039px) {
        width: 110px;
        height: 165px;
      }
    }
    .movie-categories {
      display: flex;
      margin-top: 20px !important;
      margin-left: 30px;
      @media only screen and (max-width: 767px) {
        margin-top: 10px;
      }
    }

    .movie-category {
      margin-right: 7px;
      padding-top: 2px;
      padding-bottom: 2px;
      padding-left: 5px;
      padding-right: 5px;
      margin-right: 10px;
      margin-bottom: 5px;
      font-size: 11px;
      font-weight: 600;
      color: var(--background-color);
      background-color: #FEFEFE;
      border-radius: 5px;
      @media only screen and (max-width: 767px) {
        margin-right: 10px;
        margin-top: -15px;
      }
    }
  }

  .auditorium-header {
    margin: 0 auto;
    text-align: left;
    h3 {
      font-weight: 700;
      margin-bottom: 30px;
      margin-left: 10px;
    }
  }
  

  .list-container {
    text-align: center;
    
    .header-list {
      margin-top: 50px;
    }
    ul {
      width: 55vw;
      list-style: none;
      padding: 0;
      @media only screen and (max-width: 1123px) {
        width: 100% !important;
      }
      li {
        text-align: left;
        padding-right: 10px;
        padding-left: 10px;
      }
      .btn {
        background-color: var(--primary-color);
        border-radius: 8px;
        border-style: none;
        box-sizing: border-box;
        color: #FEFEFE;
        cursor: pointer;
        display: inline-block;
        font-size: 14px;
        font-weight: 700;
        line-height: 20px;
        list-style: none;
        margin: 0;
        outline: none;
        padding: 10px 16px;
        position: relative;
        text-align: center;
        text-decoration: none;
        transition: color 100ms;
        vertical-align: baseline;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
      }
      .btn:hover,
      .btn:focus {
        background-color: #fc5c51;
      }
    }
  }

  h4 {
    font-weight: 700;
  }
}