@font-face {
  font-family: 'Thunder';
  src: url('./assets/fonts/thunder.ttf');
}

$background: #242424;
$primary: #EF4242;
$font-family-sans-serif: 'Thunder';
$body-color: #FEFEFE;

@import 'bootstrap/scss/bootstrap.scss';

:root {

  --background-color: #{$background};
  --font-family-sans-serif: #{$font-family-sans-serif};
  --font-family-base: #{$font-family-base};
  --primary-color: #{$primary};

  font-weight: 400;

  color-scheme: light dark;

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

html, body {
  background-color: var(--background-color);
  padding: 0px;
  margin: 0px;
}