.hero-list-container {
  font-weight: 300;
  margin-top: 70px;
  .hero-list-container-content {
    display: flex;
    flex-direction: column;
    align-items: center;

    h1 {
      text-align: center;
      font-size: 45px;
      margin: 50px;
      font-family: var(--font-family-base);
    }

    h3 {
      padding-top: 50px;
      font-family: var(--font-family-sans-serif);
      font-weight: 700;
    }

    .featured-movies {
      margin-top: 80px;
      margin-left: 40px;
      margin-right: 40px;

      .featured-movie {
        width: 300px;
        cursor: pointer;
        transition: all ease-in-out .1s;

        &:hover {
          transform: scale(1.05);
        }

        img {
          height: 400px;
          width: 270px;
          border-radius: 10px;
        }

        .featured-movie-info-container {

          .featured-movie-title {
            padding-top: 30px;
            width: 100%;
            font-family: var(--font-family-sans-serif);
            font-size: 18px;
            font-weight: 700;
          }

          .featured-movie-length {
            font-family: var(--font-family-sans-serif);
            font-weight: 500;

            span {
              padding-right: 10px;
            }
          }

          .featured-movie-categories {
            display: flex;
            justify-content: center;
            align-items: center;

            p {
              font-weight: 600;
              font-size: 12px;
              font-family: var(--font-family-sans-serif);
              color: #272727;
              margin: 5px;
            }

            .featured-movie-category-container {
              background-color: #FEFEFE;
              padding: 2px;
              padding-left: 7px;
              padding-right: 7px;
              border-radius: 5px;
            }
          }
        }
      }
    }
  }

  @media (max-width: 767px) {
    .hero-list-container-content .featured-movies {
      display: flex;
      justify-content: center;
    }
  }
}