.screenings {
  
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: var(--font-family-sans-serif);

  h4 {
    font-weight: 700;
  }

  .filter-div {
    margin-right: 20px;
    margin-bottom: 30px;
    cursor: pointer;

    #available-screenings {
      font-weight: 900;
      margin-top: -5px;
      margin-left: 10px;
      @media only screen and (min-width: 767px) {
        margin-top: -10px;
      }
    }

    p {
      margin-left: 10px;
      font-weight: 600;
    }

    .sort-option {
      cursor: pointer;
      margin-right: 30px;
      padding: 5px;
      padding-left: 7px;
      padding-right: 7px;
      border-radius: 10px;
      border: 1px solid #FEFEFE;
    }

    .selected {
      background-color: #FEFEFE;
      color: var(--background-color)
    }
  }

  .screening-container {
    cursor: pointer;
    width: 100%;
    padding: 10px;
    transition: all ease-in-out .1s;

    @media only screen and (max-width: 767px) {
      &:hover {
        transform: scale(1.00);
      }
    }

    @media only screen and (min-width: 767px) {
      &:hover {
        transform: scale(1.05);
      }
    }

    .screening-item {

      margin-bottom: -10px;
      margin-top: -10px;
      display: flex;

      img {
        height: 102px;
        width: 68px;
        border-radius: 2.5px;
        margin-right: 25px;
      }
      .inner-screening-container {
        justify-content: space-between;
        width: 100%;
        display: flex;
        @media only screen and (max-width: 767px) {
          display: block;
        }
        .screening-meta {
          align-self: flex-end;
          .screening-category-date-container {
            margin-top: 10px;
            display: flex;
            justify-content: space-between;
            margin-right: 10px;
            .screening-categories {
              display: flex;
              margin-right: 15px;
              @media only screen and (max-width: 767px) {
                display: block;
                margin-top: 10px;
              }
            }

            .screening-category {
              margin-right: 7px;
              font-style: italic;
              @media only screen and (max-width: 767px) {
                margin-right: 0px;
                margin-top: -15px;
                font-size: 14px;
              }
            }
          }
        }
        .screening-date-time-container {
          display: block;
          margin-right: 15px;
          margin-top: 22px;
          align-items: center;
          cursor: pointer;

          @media only screen and (max-width: 767px) {
            display: flex;
            margin-top: 0px;
          }

          .screening-time {
            margin-left: 15px;
            font-weight: 700;
            padding-top: 7px;
            @media only screen and (max-width: 767px) {
              font-size: 13px;
            }
          }

          h5 {
            margin-right: 15px;
            font-size: 16px;
            font-weight: 700;
            @media only screen and (max-width: 767px) {
              font-size: 13px;
            }
          }
        }
      }
    }
  }
}